
body{
    margin: 0;
    background-color: rgba(251, 76, 12,.8);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}
.container{
    background-color: rgba(255, 255, 255,.3);
    padding: 28px;
    width: 90%;
    max-width: 450px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);  
    margin:10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
}
.heading{
    font-size: 28px;
}
.input{
   width: 300px;
    height: 53px;
    font-size: 16px;
    padding: 0 25px;
    background-color: rgba(255, 255, 255,.6);
    border-color: rgba(255, 255, 255,.4);
    border-radius: 5px;
}
.meaning-container{
    display: none;
}